@import "tailwindcss";

body {
  @apply bg-zinc-800;
}

@theme {
  --color-green-450: #05ed81;
  --color-green-550: #02c46a;
  --color-white-50: #ebebe8;
}

@layer utilities {
  .container {
    @apply max-w-[1220px] px-5 md:px-10 mx-auto;
  }
  .section-padding {
    @apply pb-5 md:pb-15 pt-25 md:pt-40;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .grid-3-cols {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5;
  }
  .input {
    @apply border-1 rounded-md px-5 py-2 text-sm md:text-lg w-full;
  }
  .input:focus {
    @apply outline-2;
  }
  .error-message {
    @apply min-h-[1.5rem] text-sm text-red-500;
  }
  .button-hover {
    @apply hover:bg-zinc-700 hover:text-white;
  }
  .navbar {
    @apply fixed top-0 left-0 right-0 z-20  transition-all duration-300 ease-in-out;
    &.scrolled {
      @apply bg-zinc-950 py-4 md:py-6;
    }
    &.not-scrolled {
      @apply bg-transparent py-8 md:py-12;
    }
  }
  .navbar-link {
    @apply text-white-50 hover:text-white font-thin tracking-wider text-lg md:text-2xl transition-all duration-300 relative;
  }
  .underlined {
    @apply w-0 h-0.5 bg-white absolute -bottom-2 transition-all duration-300 group-hover:w-full;
  }
  .cart-item {
    @apply bg-zinc-600 border-2 border-zinc-800 text-white shadow-md rounded-sm py-2 md:py-5 px-7 md:px-10 font-medium text-lg md:text-xl flex gap-4 items-center flex-wrap justify-between;
  }
  .hero-title {
    @apply text-3xl sm:text-6xl font-bold max-w-[650px] leading-snug mb-5;
  }
  .hero-subtitle {
    @apply md:text-xl max-w-[550px] mb-10 text-white-50;
  }
  .features-item {
    @apply w-[320px] flex flex-col items-center bg-white rounded-sm hover:scale-103 transition-all duration-300;
  }
}
